# Core only for CI debugging
numpy
pandas
joblib
scipy
scikit-learn
xgboost
lightgbm
requests
tqdm
plotly
matplotlib
tensorflow

# Additional dependencies required by the codebase
yfinance
praw
vaderSentiment
transformers
alpaca