# Core data/modeling
numpy
pandas
joblib
scipy
scikit-learn
xgboost
lightgbm

# Alpaca stack
alpaca-py
websockets
pydantic
optree

# Market data
yfinance

# Optional plotting/logging
matplotlib
tqdm
plotly
kaleido
seaborn

# NLP / Transformers / Torch / Sentiment
transformers
vaderSentiment
requests
praw
