# Core data/modeling
numpy==1.26.4
pandas==3.0.3
joblib==1.5.3
scipy==1.17.1
scikit-learn==1.9.0
xgboost==3.2.0
lightgbm==4.6.0
ta-lib==0.7.0

# TensorFlow
tensorflow==2.21.0
keras==3.15.0

# Alpaca stack
alpaca-py==0.43.5
websockets==10.4
pydantic==2.13.4
optree==0.19.1

# Market data
yfinance==0.2.58

# Optional plotting/logging
matplotlib==3.7.1
tqdm==4.66.1
plotly
kaleido
seaborn


# NLP / Transformers / Torch / Sentiment
#torch==2.2.2
transformers==4.31.0
vaderSentiment==3.3.2
requests==2.31.0
praw==7.7.1  # Reddit API client for sentiment analysis
